/* Common styles */

.code-tabs {
  --bg-selected: white;
  --bg-not-selected: var(--highlight-color);
  --box-padding: 2rem;

  border: var(--box-border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.code-tabs [aria-hidden="true"] {
  display: none !important;
}

.code-tabs [aria-selected="false"] {
  background-color: var(--bg-not-selected);
  color: white;
}

.code-tabs [aria-selected="true"] {
  background-color: var(--bg-selected);
}

.code-tabs [aria-selected="false"]:hover {
  cursor: pointer;
}

.code-tabs .horizontal .title {
  font-weight: bold;
}

.code-tabs .code pre {
  max-width: 100%;
  overflow: scroll;
}

.code-tabs .code pre code {
  text-wrap: pretty;
}

/* Vertical layout - Large screens */

.code-tabs .vertical .tab-item {
  padding: var(--box-padding);
}

.code-tabs .vertical .tab-item:has(> [aria-selected="true"]) {
  background-color: var(--bg-selected);
}

.code-tabs .vertical .tab-item:has(> [aria-selected="false"]) {
  background-color: var(--bg-not-selected);
}

.code-tabs .vertical .tab .title {
    text-transform: uppercase;
}

.code-tabs .vertical .tab:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.code-tabs .vertical .tab:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}


/* Horizontal layout - Large screens */

.code-tabs .horizontal {
  display: grid;
  gap: var(--box-padding);
  grid-template-columns: 20rem minmax(0, 1fr);
  grid-template-areas: "tabs content";
}

.code-tabs .horizontal .tabs {
  grid-area: tabs;
  background-color: var(--bg-not-selected);
  border-radius: var(--border-radius);
  padding: var(--box-padding) 0;
  font-weight: bold;
  text-transform: uppercase;

}

.code-tabs .horizontal .tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.code-tabs .horizontal .tabs ul li {
  margin: 0;
  padding: 2rem;
}

.code-tabs .horizontal .content {
  grid-area: content;
  max-width: 100%;
  padding: 2rem 2rem 2rem 0;
}
